[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "doom-emacs"]
	path = doom-emacs/emacs.d
	url = https://github.com/hlissner/doom-emacs.git
