*
!.gitignore
!.config/i3
!.config/sublime-text-3/Packages/User/close_tabs.py
!.config/sublime-text-3/Packages/User/*.sublime-settings
!.config/sublime-text-3/Packages/User/Default.sublime-theme
!.config/sublime-text-3/Packages/User/Monokai\ Soda.tmTheme
!.env/
!.bash_profile
!.xinitrc
!wallpaper.png
